.avi{
    
    /* margin-top: 20%;
    max-height: 25rem;
    margin-left: 8%; */

    margin-left: 15%; 
    margin-top: 35%;
    max-height: 18.75rem;
    border-radius: 50% !important;
    /* border-radius: 50px 50px !important; */
    display: grid;
    place-items: center;
}