
.links {
    text-decoration: underline;
}

.contact-image {
    position: relative;
    height: 75px;
    width: 75px;
}

.contact-image .contact-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.errfont{
    color: red
}

.offscreen {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}