.create {
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
}

.name{
    font-size: 1.5rem;
    color: var(--HOTPINK);
}

.navbar {
    background-color: rgb(23, 22, 22) !important;
}

.main-link{
    font-weight: 600 !important;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--HOTPINK) !important;
    margin-left: 3rem;
}

.main-link:hover{
    animation: shake 0.6s infinite;
}
@keyframes shake {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    25% {
        transform: translate(1px, 1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, -1px) rotate(-1deg);
    }
    75% {
        transform: translate(2px, -1px) rotate(2deg);
    }
    100% {
        transform: translate(-1px, 1px) rotate(-1deg);
    }
}

.navbar-nav{
    margin-left: 7rem;
}