.card {
    width: 350px !important
}

.card-link{
  color: var(--HOTPINK);
}

.project-image {
    position: relative;
    height: 300px;
    width: 300px;
}

.project-image .project-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

@media screen and (min-width: 400px) {
    .swiper-container {
      width: 390px;
    }
}

@media screen and (min-width: 640px) {
    .swiper-container {
      width: 390px;
    }
}
  
@media screen and (min-width: 768px) {
    .swiper-container {
      width: 768px;
    }
}

.project-link:hover{
  color: var(--HOTPINK) !important;
}