:root{
    --HOTPINK: rgb(240, 67, 153);
}

html {
    height: 100% !important
}

body {
    min-height: 100% !important;
    display: flex;
    flex-direction: column;
}

#root {
    padding-bottom: 160px;
}

.btn-primary, 
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color: var(--HOTPINK) !important;
    border-color: var(--HOTPINK) !important;
}